body {
	background: #202020;
	font-family: courier;
}
main {
	width: 60%;
	margin: 64px auto 0 auto;
}
h1 {
	text-align: center;
	color: #eeeeee;
}
p {
	color: #aaaaaa;
	font-size: 14pt;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: #ba9278;
}
.btn-span {
	display: inline-flex;
	border: 1px solid #999999;
	padding: 8px;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	align-items: center;
	justify-content: center;
}
.btn-span.wide {
	width: unset;
}