body {
	background: #202020;
	font-family: courier;
}
main {
	width: 580px;
	margin: 64px auto 128px auto;
}
h1 {
	text-align: center;
	color: white;
}
p {
	color: #dddddd;
	font-size: 14pt;
	font-weight: bold;
}
p.faint {
	color: #999999;
	font-size: 12pt;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #ba9278;
}
.btn-span {
	display: inline-flex;
	border: 1px solid #999999;
	padding: 8px;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	align-items: center;
	justify-content: center;
}
.btn-span.wide {
	width: unset;
}
.download-section {
	background: #181818;
	border-radius: 16px;
	padding: 16px;
}
.download-section p {
	margin: 0;
}
.imgs-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}
.imgs-1 img {
	width: 100%;
}
video {
	background: black;
	width: 100%;
}
hr {
	border-color: #444444;
	border-style: solid;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
}
.hardware {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin: 1em 0;
}
.hardware p {
	margin: 0;
}
.hardware img {
	width: 100%;
}

@media (max-width: 720px) {
	main {
		width: initial;
		padding: 0 16px;
	}
	.imgs-1 {
		grid-template-columns: 80%;
		justify-content: center;
	}
	.hardware {
		grid-template-columns: 100%;
		justify-content: center;
	}
	.hardware img {
		width: 50%;
		margin: auto;
	}
}