body {
	background: #202020;
	font-family: courier;
}
main {
	width: 580px;
	margin: 64px auto 0 auto;
}
h1 {
	text-align: center;
	color: white;
}
p {
	color: #dddddd;
	font-size: 14pt;
	font-weight: bold;
}
p.faint {
	color: #999999;
	font-size: 12pt;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #ba9278;
}
.btn-span {
	display: inline-flex;
	border: 1px solid #999999;
	padding: 8px;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	align-items: center;
	justify-content: center;
}
.btn-span.wide {
	width: unset;
}
.download-section {
	background: #181818;
	border-radius: 16px;
	padding: 16px;
}
.download-section p {
	margin: 0;
}
.imgs-1 {
	justify-content: center;
	display: flex;
	gap: 16px;
}
video {
	background: black;
}
.vid {
	display: flex;
	justify-content: center;
}